.first {
	height: 100vh;
	min-height: 600px;
	background-image: url("/img/Background.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: var(--white-color);
}

.first__container {
	position: relative;
	padding-top: 233px;
	padding-bottom: 200px;
	height: 100%;
}

.first__link {
	background-color:rgba(28, 46, 61, 0.4);
	font-family: SFProDisplay;
	font-size: 11px;
	letter-spacing: 2px;
	padding: 15px 30px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 42px;
}

.first__title {
	font-weight: 700;
  font-size: 80px;
  line-height: 84px;
	max-width: 40%;
	margin-bottom: 40px;
}

.first__descr {
	font-family: 'SFCompact', sans-serif;
	font-weight: 400;
	font-size: 14px;
  line-height: 16px;
	max-width: 32%;
	margin-bottom: 59px;
}

.first__btn {
	font-weight: 800;
	font-size: 12px;
	letter-spacing: 2.18182px;
	padding: 33px 80px;
	background-color: var(--accent-color);
	text-transform: uppercase;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	color: var(--white-color);
}

.first__bottom {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	width: calc(100% - 60px);
	display: flex;
	max-height: 120px;
	min-height: 120px;
	height: 10%;
}

.search-form {
	flex-shrink: 0;
	width: 68%;
	position: relative;
	overflow: hidden;
	border-top-left-radius: 4px;
}

.search-form__field {
	border: none;
	background-color: #fff;
	width: 100%;
	height: 100%;
	color: var(--dark-color);
	padding-left: 55px;
	padding-right: 95px;
}

.search-form__button {
	width: 18px;
	height: 18px;
	background-image: url("/img/search.svg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	right: 60px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}